.container-fluid {
  position: relative;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 10px;
}

h1 {
  padding: 20px;
}

ul li {
  list-style-type: none;
}

#result0, #result1, #result2, #result3, #result4 {
  display:none;
}

.search-forms {
  display: grid;
  width: 18rem;
  margin:5px;
}

.card {
  display: grid;
}

/* Card class is already labeled with display grid. Will just need to add more property:values to specify that we want them to form columns and to auto update columns depending on screen size - see css grid documentation  */

img {
  width: 200px;
  height: auto;
}

select {
  display: block;
  min-width: 50px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#people-button, #movie-button {
  display: inline;
  background-color: darkslategrey;
  color: white;
}

